.content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.slider{
    width: 800px;
    height: 400px;

}

.slide{
    width: 800px;
    height: 400px;
}

#prev{
    top: 150px;
    left: 30px;
    position: absolute;
}
#next{
    top: 150px;
    right: 30px;
    position: absolute;
}